.parent
{
    border: 5px solid black;
    height: 150px;
    justify-content: space-around;
}
.child
{

    height: 200px;
    float: left;

}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main,
.sidebar {
    border: 3px solid black;
    padding: 15px;
    background-color: #fff;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    left:100px
}

.sidebar {
    width: 10%;
    height: 25vh;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.wrap {
    width: 1310px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    background: darkgray;
    height: 120px;/*Задаем высоту обертки*/
}

.bblock {
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    background: dodgerblue;
    color: white;
    width: 320px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
}
.wrap :last-child {
    margin-right: 0px;/*Убираем поле последнего div-а*/
}

.GridRow {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.GridColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-item {
    margin: 10px;
    border: 3px solid #333333;
    background-color: white;
}

.flexbox-item-up {
    width: 100%;
    height: 100%;
}

.flexbox-item-center {
    width: 100%;
    height: 70%;
}
